@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@400;700;900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    font-size: $normal-font;
}
body{
    font-family: $normal-font;
}
ul{
    list-style-type: none;
}
a{
    text-decoration: none;
}
input,button{
    outline: none;
}

.container{
    width: 100%;
    max-width: 1520px;
    padding: 0 40px;
    margin: auto;
    @include tablet{
        padding: 0 20px;
    }

    @include mobile{
        padding: 0 10px;
    }
}

.main{
    margin:2.5rem 0;
}