/*=Color=*/
$bg-color: #fff;
$main-color: #E4077F;

$header-bg: #141C49;

$title-color: #67447C;
$text-color: #67447C;
$text-white: #FFF;

$footer-bg: #141C49;
$footer-color: #fff;

$btn-main: #405DE6;
$btn-main-hover: #3a52bd;
$button-color: #fff;

$box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;

/*=Fontsize-FontFamily=*/
$normal-font: 'Roboto', sans-serif;
$title-font: 'M PLUS Rounded 1c', sans-serif;
$biggest-font-size: 48px;
$big-font-size: 32px;
$title-font-size: 18px;
$normal-font-size: 15px;
$small-font-size: 13px;

$header-logo-font: 24px;

$font-bold: 700;
$font-black: 900;



/*=Responsive=*/
$mobile-width: 600px;
$tablet-width: 1023px;

$header-height: 120px;
$header-shrink-height: 80px;
$header-tablet-height: 80px;
$header-mobile-height: 60px;